@media (max-width: 650px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 651px) and (max-width: 900px) {
  .container {
    max-width: 60%;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .container {
    max-width: 50%;
  }
}
@media (min-width: 1201px) {
  .container {
    max-width: 40%;
  }
}

.btn {
  background: #bc49f1;
  color: white;
  outline: none;
  box-shadow: none;
}
.btn:focus {
  outline: none;
}
